*.LICENSE.txt
*.rej
*storybook.log
.cache
.claude
.DS_Store
.env
.npmrc
.nyc_output
.prettier-cache
.vs-code
build
coverage
DEBUG
dist
Error
node_modules
npm-debug.log*
package-lock.json
public/vs
upload
yarn-debug.log*
yarn-error.log*
yarn.lock
