name: build-main

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    # https://github.com/synle/gha-workflows/blob/main/.github/workflows/build-and-commit-sh.yml
    uses: synle/gha-workflows/.github/workflows/build-and-commit-sh.yml@main
    permissions:
      contents: write
